.item {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px 7px 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  min-height: 50px;
  max-width: 700px;
  width: 100%;

  .text {
    color: var(--primary);
    font-size: 20px;
    word-break: break-word;
    width: calc(100% - 90px);

    &.line {
      color: var(--primary-transparent);
      text-decoration: line-through 1px var(--blue);
    }
  }

  .input {
    background: var(--background);
    border: none;
    border-bottom: 1px solid var(--primary-transparent);
    caret-color: var(--primary);
    color: var(--primary);
    font-size: 20px;
    outline: none;
    height: 100%;
    width: calc(100% - 60px);
  }

  .icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: opacity 200ms linear;

    &:hover {
      opacity: 0.7;
    }
  }

  .button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    transition: transform 300ms ease, opacity 300ms linear;

    &:disabled {
      opacity: 0;
      z-index: -1;
    }

    .icon {
      fill: var(--primary);
    }
    .completed_icon {
      fill: var(--blue);
    }

  }

  .editable_icon {
    height: 20px;
    display: flex;
    column-gap: 15px;
  }



  .icon_wrapper {
    display: flex;
    column-gap: 15px;
    width: 90px;
    height: 20px;
  }
}